<%- include ("./partials/header") %>	

	<div class = "header_landing bg-image">
		
			<h2><i>WELCOME TO</i><br>
		
		
			<strong>ANJAM</strong>
		</h2>
			<p class='tag-line'>Premium African Music</p>			

			<article>
				<form action = "/songs/1" method="GET" class = "form-inline">
					<div class = "form-group">
						<input type = "text" name = "search" placeholder = "Search..." class = "form-control" required>
						<input type = "submit" value = "Search" class = "btn btn-default">
						<button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#myModal">
  <span class="badge">Search Suggestions</span>
</button>
					</div>
				</form>
				
			</article>			
	</div> 
    

<%- include ("./partials/footer") %>