html {
  height: 100%;
}

.footer{
	color: white;
	background-color: black;
	padding: 5px;
	margin-top: 50px;
	position:fixed;
   bottom:0;
   width:100%;
}

.container{
	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 80px;
	
	
}

.songs{
	padding-top: 100px;
}



body {
	padding-top: 90px;
	padding-bottom: 5px;
	
	min-height: 100%;
	color: white;
	height:100%;
	background-image: url("/media/uploads/Header Splash.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.progressbar{
	
	cursor: pointer;
	
	
}
.jumbotron{
	
	background-image: linear-gradient(#9c0f00, white);
	color: white;
	
}

.tag-line{
	color:red;
}

.header{
	padding-left: 200px; 
	height: 20%;
  	
  	color: black;
  	font-size: 30px;
	
	
	margin-top: 0px;
	font-family: Helvetica, sans-serif; 
	margin-bottom: 100px;
	
}

.header_show{
	
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px 100px 0px 100px; 
	height: 80%;
  	
  	color: black;
  	font-size: 15px;
	
	
	margin-top: 0px;
	font-family: Helvetica, sans-serif; 
	margin-bottom: 20px;
	
	
}

.header_landing{
	padding: 200px; 
	height: 100%;
  	background: white;
  	color: black;
  	font-size: 30px;
	background-image: url("/media/uploads/Header Splash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
	font-family: Helvetica, sans-serif; 
	background-position: top center;
	
	
}

.header_landing h2{
	font-size: 60px;
}

.header h2{
	font-size: 60px;
}

.modal{
	color:black;
}

.songData{
	color: black;
	padding-top: 5px;
}

.sngBtns{	
color:black;
}

.sngTitle{
	
	padding-left: 20px;
	color: black;
	padding-bottom: -15px;
}

.sngTitleMain{
	
	
	color: black;
	padding-bottom: -15px;
}

.pageno{
	
	display: inline;
	color: black;
}
.collbutton{
	display:inline;
}

.thumbnail img{
	
	width : 100%;	
}

.navbar-nav li a{
	padding-top: 25px;
}

.navbar {
	
	padding-bottom: 30px;
	background-color:black;
}

.navbar img{
	width : 60%;
	padding-top: 0px;
	padding-bottom: 5px;
}

.thumbnail{
	padding : 0;
}

.thumbnail .caption-full{
	padding: 9px;
}

#delete-form{
	
	display:inline;
	
}

.label{
	display:inline;
	
}

.mixbuttonsShow{
	 padding: 5px;
	 margin: 5px;
}

.mixbuttons{
	 padding: 9px;
	 margin: 9px;
}
.spacer{
	margin-top: 10px;
}

.sngRow{	
	
	margin: 1px;	
	color: black;
}

.sngRow:hover{
	
	background-color: #968887;
}

.details{
	
	color: black;
}
.downloadBtn{
	
	color: black;
}

.mixButtonsDesc{
	 padding: 9px;
	 color: black;
}

.playing{
	
	border-width: 2px;
	border-style: solid;
	border-color: red;
	box-shadow: 0 0.5em 0.5em -0.4em;
	transform: translateY(-0.25em)
	
}

.valign{
	
	vertical-align: middle;
}

.searchData{
	background-color: gray;
}

.btnOptions{
	padding: 9px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #cecccc;
  color: red;
}





.modal.loading .modal-content:before {
  content: 'Loading...';
  text-align: center;
  line-height: 155px;
  font-size: 20px;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #EEE;
  z-index: 1000;
}

