html {
  height: 100%;
}

body {
	padding-top: 90px;
	background-color: black;
	min-height: 100%;
	color: white;
}


.jumbotron{
	
	background-image: linear-gradient(#9c0f00, white);
	color: white;
	
}

.songData{
	color: black;
	padding-top: 5px;
}

.sngBtns{	
color:black;
}

.sngTitle{
	
	padding-left: 10px;
	color: black;
}
.pageno{
	
	display: inline;
}
.collbutton{
	display:inline;
}

.thumbnail img{
	
	width : 100%;	
}

.navbar-nav li a{
	padding-top: 25px;
}

.navbar {
	
	padding-bottom: 10px;
}

.navbar img{
	width : 60%;
	padding-top: 0px
}

.thumbnail{
	padding : 0;
}

.thumbnail .caption-full{
	padding: 9px;
}

#delete-form{
	
	display:inline;
	
}

.label{
	display:inline;
	
}

.mixbuttonsShow{
	 padding: 9px;
	 margin: 9px;
}

.mixbuttons{
	 padding: 9px;
	 margin: 9px;
}
.spacer{
	margin-top: 10px;
}

.sngRow{	
	
	margin: 1px;	
	color: black;
}

.sngRow:hover{
	
	background-color: #968887;
}

.details{
	
	color: black;
}
.downloadBtn{
	
	color: black;
}

.mixButtonsDesc{
	 padding: 9px;
	 color: black;
}

.playing{
	
	border-width: 2px;
	border-style: solid;
	border-color: red;
	box-shadow: 0 0.5em 0.5em -0.4em;
	transform: translateY(-0.25em)
	
}

.valign{
	
	vertical-align: middle;
}

.btnOptions{
	padding: 9px;
}

.modal.loading .modal-content:before {
  content: 'Loading...';
  text-align: center;
  line-height: 155px;
  font-size: 20px;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #EEE;
  z-index: 1000;
}
