<%- include("../partials/header")%>
<div class = "container">
	<div class = "row">
		<h1 style = "text-align:center">New Song</h1>
		<div style = "width: 30%; margin: 25px auto;">			
			<form method = "POST" action = "/song" enctype="multipart/form-data">
				<div class = "form-group">
					<% if(numCollections > 0){%>					
					<select class = "form-control" name = "collection" id = "collId" onChange="getCollName(this);" required>
						<option value="">Select Collection</option>
						<%
						collections.forEach(function(collection)
						{
							%><option value = "<%=collection._id%>"><%=collection.name%></option><%					
						});
						%>
					</select><br> OR 
					<%}%>
					<input type = "hidden" id = "collName" name = "collectionName">
					<a class="btn btn-primary" href="/collections/new" role="button">Add New Collection</a>					
				</div>
				<div class = "form-group">
					<input class = "form-control" name = "name" type = "text" placeholder = "Name" required>
				</div>
				<div class = "form-group">
					<input class = "form-control" name = "bpm" type = "number" min="1" step="0.1" placeholder = "BPM" required>
				</div>				
				<div class = "form-group">
					<input type="file" name="filetoupload" accept = ".mp3" required>
				</div>
				<div class = "form-group">
					<input type = "text" class = "form-control" placeholder = "Genre" name = "genre" required>
				</div>
				<div class = "form-group">
					<input type = "text" class = "form-control" placeholder = "Sub-Genre" name = "subgenre">
				</div>
				<div class = "form-group">
					<input type = "text" class = "form-control" placeholder = "Description" name = "description">
				</div>
				<div class = "form-group">
					<input type = "text" class = "form-control" placeholder = "Tags" name = "tags">
				</div>
				<div class = "form-group">
					<input class = "btn btn-lg btn-default btn-block btn-primary" type = "submit">
				</div>				
			</form>	
			
			<A href = "/songs/1">Back</A></div>			
	</div>		
</div>
<script type="text/javascript" src = "/js/js.js"></script>
<%- include("../partials/footer")%>